<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/img/logo.png" alt="Logo">
                <p>
                    Escríbenos: <br>
                    <a href="mailto:contacto@dividendoporcolombia.org">contacto@dividendoporcolombia.org</a>
                </p>
            </div>
            <div class="col-md-4">
                <h4>Bogotá</h4>
                <p>
                    <a href="tel:+5715712102350">571 2102350 ext. 124</a>
                </p>
                <p>
                    <a href="mailto:experiencias@dividendoporcolombia.org">experiencias@dividendoporcolombia.org</a>
                </p>
                <p>
                    Calle 72 bis # 6-44 Edificio APA PH Piso 10 <br/>
                    Bogotá, Colombia
                </p>
            </div>
            <div class="col-md-4">
                <h4>Medellín</h4>
                <p>
                    <a href="tel:+575743123536">+57 574 3123536</a>
                </p>
                <p>
                    <a href="mailto:experiencias@dividendoporcolombia.org">experiencias@dividendoporcolombia.org</a>
                </p>
                <p>
                    Carrera 43 b # 16-41 Edificio Staff <br/>
                    Bogotá, Colombia
                </p>
            </div>
        </div>
    </div>
</footer>
