@import '../../../assets/sass/app-kit/_variables.scss';
@import '../../../assets/sass/app-kit/_mixins.scss';

.footer {
	background-image: url(../../../assets/img/map-footer.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 130px 0;
	transition: all 1s ease-in-out;
	h4, p, a{
		margin-top: 0;
		color: $white-color;
	}
}